@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
@media(max-width: 800px) {
    header{
        display: block;
        border: none;
        padding: 15px;
        margin-bottom: 10px;
    }
    header img{
        display: none;
        text-align: right;
        width: 50px;
        margin-top: -60px;
    }
    #tituloH{
        display: flex;
        margin-bottom: -40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
    }
    #burguer:hover{
       background-color: rgba(240, 248, 255, 0.268);
    }
   
    nav{
        display: none;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        text-align: center;
        margin-top: 10px;
    }
    nav a {
        font-size: 15px;
    }
    #burguer{
        display: block;
        font-size: 48px;
        text-align: right;
        color: white;
        margin: right;
    }
    #itens3{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(240, 248, 255, 0.268);
        border: 1px solid white;
        gap: 12px;
    }
    #feedback{
        display: flex;
        width: 100%;
    }
    ul.redes{
        background-color: #e981b8;
        display:block;
        margin:0 auto;
        text-align: center;
        list-style-type: none;
        border-radius: 5px;
        position: none;
        line-height: 1.5;
    }
    main img{
        background-color: aliceblue;
        border: .5px solid rgba(207, 114, 184, 0.458);
        max-height: 230px;
        max-width: 230px;
    }
    .principal{
        margin-top: 10px;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .escrito{    
        display: none;
        text-align: center;
        flex-direction: row ;
        gap: 32px;
        color: white;
    }
    .secundário{
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-weight: 400;
        font-size: 20px;
        font-family: var(--fonte-padrao);
        color: white;
        margin-bottom: 10px;
        width: 100vw;
}
.sec2{
    font-family: var(--fonte-extra);
    font-weight: 400;
    font-size: 8.5px;
    color: white;
}
.fieldset{
    width: 350px;
    height: 550px;
}
.campo{
    padding: 20px;
}
.fieldset input{
    width: 150px;
}
.fieldset select{
    width: 150px;
}
textarea{
    width: 300px;
    height: 100px;
}
input[type="submit"]{
    width: 120PX;
    color: white; 
    font-weight: bold;
    margin-left: 35px;
}
input[type="reset"]{
    width: 120PX;
    color: white; 
    font-weight: bold;
}
::placeholder{
    color: white;
    font-size: 10px;
    font-weight: bold;
}
.menu{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    font-size: 12px;
    text-align: center;
    list-style-type: none;
    font-weight: lighter;
    flex-grow: row;
    border-right: none;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
}
aside h2{
    font-size: 15px;
    font-weight: bold;
}
.menuSocial{
    margin-right: 5pt;
    padding: 0px;
    padding-top: 27px;
    display: block;
    border: none;
    gap: 0px;
    border-right: none;
}
.ImgSociais{
    width: 20px;
    margin: 10px;
}
div.contato{
    border-right: none;
    display: block;
    line-height: 1.8;
}

div>p#logo{
    display: none;
}
}
